:root {
	--white: #fff;
	--black: #000;
	--mineShaft: #222222;
	--powderAsh: #a9bdb2;
	--parsley: #154c2f;
	--sweetCorn: #fcf88c;
	--brandFacebook: #1877f2;
	--brandInstagram: #e4405f;
	--brandSquarePay: #3e4348;
	--brandGooglePay: #4285f4;
	--brandVisa: #142787;
	--brandMastercard: #eb001b;
	--brandAmex: #2e77bc;
	--brandDiscover: #ff6000;
}

*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';font-size:62.5%;-webkit-text-size-adjust:100%}body{font-size:1.6rem;line-height:1.25;margin:0;padding:0}abbr[title]{text-decoration:underline dotted}strong{font-weight:bolder}code,kbd,pre,samp{font-family:SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1rem}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25rem}sup{top:-.5rem}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{padding:0}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}



.master--uc {
	padding: 4vh 4vw;
	min-height: 100vh;
	position: relative;
	background-color: var(--powderAsh);
}

.master--uc:after {
	content: '';
	position: absolute;
	bottom:0;
	left:0;
	background-image: url('../img/fence.svg');
	background-position: 0 2rem;
	background-repeat: repeat-x;
	height: 12rem;
	width: 100%;
	z-index: 10;
}

.master--uc .splash {
	position: relative;
	z-index: 20;
	display: grid;
	grid-gap: 4rem;
	max-width: 55rem;
	margin: 0 auto;
	width: 100%;
	padding: 4rem;
	background: var(--white);
	border: 2px dotted var(--parsley);
	border-radius: 1rem;
}

.master--uc .logo__link {
	display: inline-block;
}

.master--uc .touch__link {
	font-size: 2.4rem;
	display: flex;
	align-items: center;
	padding: 2rem;
}

.master--uc .intro {
	font-size: 2rem;
}

.master--uc .buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.master--uc .buttons > * {
	margin: 0 1rem 1rem;
}

.master--uc .touch__text {
	margin-left: 1rem;
}

.master--uc .logo__link {
	display: block;
	max-width: 25rem;
	margin: 0 auto;
}

.master--uc .social__item {
	padding: 0 1rem;
}

.master--uc .social__svg {
	width: 4rem;
	height: 4rem
}




body {
	font-family: 'Balsamiq Sans', cursive;
	color: var(--mineShaft);
}

.header {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	grid-gap: 2rem;
	padding: 2rem;
	align-items: center;
}

.touch__link {
	color: var(--parsley);
	text-decoration: none;
	font-weight: 700;
	display: grid;
	grid-gap: 1rem;
	background: var(--powderAsh);
	padding: .5rem 1rem;
	border-radius: 1rem;
	border:2px dotted var(--parsley);
}

.touch__icon {
	text-align: center;
	max-height: 2.4rem;
}

.touch__svg {
	fill: var(--parsley);
	width: 2.4rem;
	height: 2.4rem;
}

.touch__text {
	line-height: 1;
}

.nav {
	grid-column-end: span 3;
}

.nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__item {
	padding: 0 2.5vw;
}

.nav__link {
	color: var(--parsley);
	text-decoration: none;
	font-size: 1.8rem;
}

.section {
	padding: 2rem;
}

.section--about {
	background: var(--sweetCorn);
}

.section__contain {
	max-width: 80rem;
	margin: 0 auto;
}

.section__heading {
	margin: 0;
	text-align: center;
	font-size: 3rem;
	padding:0 0 2rem;
}

.about__head {
	padding: 0 0 2rem;
}

.about__head-img {
	border-radius: 50%;
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.logo__img {
	display: block;
	max-width: 100%;
}

.nav__list {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.info {
	background: var(--powderAsh);
	padding: 2rem 2rem 8rem;
	position: relative;
	border-width: 1px 0;
	border-style: solid;
}

.info:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 8rem;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: var(--powderAsh);
	background-image: url('../img/fence.svg');
	background-position: 0 1.2rem;
	background-repeat: repeat-x;
	height: 8rem;
}

.info__contain {
	display: grid;
	grid-row-gap: 1rem;
	text-align: center;
	color: var(--parsley);
	max-width: 80rem;
	margin: 0 auto;
}

.info__full {
	display: grid;
	grid-row-gap: 1rem;
}

.info__name {
	font-size: 2rem;
	font-weight: 700;
	padding: 0 0 1rem;
}

.info__name span {
	margin: 0 .25rem;
}

.info__name,
.info__email {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.info__hours {
	display: grid;
	grid-gap: .5rem 1.5rem;
	grid-template-columns: min-content 1fr;
	padding: 2rem 0 0;
	text-align: left;
	margin: auto;
}

.info__hours-line {
	display: contents;
}

.social__list {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.social__item {
	padding: 2rem 1rem 1.5rem;
}

.social__svg {
	width: 3.2rem;
	height: 3.2rem;
}

.social__svg--fb {
	fill: var(--brandFacebook);
}

.social__svg--ig {
	fill: var(--brandInstagram);
}

.payments {
	max-width: 15rem;
	margin: 0 auto;
}

.payments__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.payments__item {
	width: 33.333%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem;
}

.payments__svg {
	width: 3.2rem;
}

.payments__svg--sq {
	fill: var(--brandSquarePay);
}

.payments__svg--gp {
	fill: var(--brandGooglePay);
}

.payments__svg--vi {
	fill: var(--brandVisa);
}

.payments__svg--mc {
	fill: var(--brandMastercard);
}

.payments__svg--ae {
	fill: var(--brandAmex);
}

.payments__svg--di {
	fill: var(--brandDiscover);
}

.copyright {
	font-size: 1.2rem;
	text-align: center;
	padding: 1.5rem 0 2rem;
}

@media all and (min-width:600px) {

	.section {
		padding: 3rem 3rem 5rem;
	}
	.about {
		display: flex;
		align-items: center;
	}
	.about__head {
		min-width: 25rem;
		padding:0 3rem 0 0;
	}
	.info {
		padding:3rem 3rem 8rem;
	}
	.info__contain {
		text-align: left;
		grid-template-columns: repeat(2, 1fr);
	}
	.info__full {
		display: block;
		font-size: 1.8rem;
	}
	.info__full > * {
		padding: 0 0 1rem;
	}
	.info__name {
		font-size: 2.4rem;
	}
	.info__name,
	.info__email {
		justify-content: flex-start;
	}
	.info__hours {
		padding: 0;
		margin: 0 0 0 auto;
	}
	.payments {
		max-width: none;
	}
	.payments__list {
		justify-content: center;
	}
	.payments__item {
		width: auto;
		padding: .5rem 1rem 1rem;
	} 
	.copyright {

	}
}