:root {
	--mineShaft: #222222;
	--powderAsh: #a9bdb2;
	--parsley: #154c2f;
	--sweetCorn: #fcf88c;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	-moz-tab-size: 4;
	tab-size: 4;
}

html {
	font-family:
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
        'Segoe UI Emoji';
    font-size: 67.5%;
	line-height: 1.25;
	-webkit-text-size-adjust: 100%;
}

body {
    font-size: 1.6rem;
	margin: 0;
	font-family: 'Balsamiq Sans', cursive;
	color: var(--mineShaft);
}

abbr[title] {
	text-decoration: underline dotted;
}

strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-family:
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
        monospace;
    font-size: 1rem;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25rem;
}

sup {
	top: -0.5rem;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
select {
	text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	padding: 0;
}

progress {
	vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}




















.header {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	padding: 2rem;
}

.nav {
	grid-column-end: span 3;
}

.section {
	padding: 2rem;
}

.section--about {
	background: var(--sweetCorn);
}

.section__heading {
	margin: 0;
	text-align: center;
	font-size: 3rem;
	padding:0 0 2rem;
}

.about__head {
	padding: 0 0 2rem;
}

.about__head-img {
	border-radius: 50%;
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.logo__img {
	display: block;
	max-width: 100%;
}

.nav__list {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.info {
	display: grid;
	grid-row-gap: 1rem;
	background: var(--powderAsh);
	padding: 2rem 2rem 8rem;
	text-align: center;
	position: relative;
	border-width: 1px 0;
	border-style: solid;
	color: var(--parsley);
}

.info:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 8rem;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: var(--powderAsh);
	background-image: url('../img/fence.svg');
	background-position: 0 1.2rem;
	background-repeat: repeat-x;
	height: 8rem;
}

.info__name {
	font-size: 2rem;
	font-weight: 700;
}

.info__name span {
	margin: 0 .25rem;
}

.info__name,
.info__email {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.info__hours {
	display: grid;
	grid-gap: .5rem 1rem;
	grid-template-columns: min-content 1fr;
	padding-top: 1rem;
	text-align: left;
	margin: auto;
}

.info__hours-line {
	display: contents;
}

.social__list {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.social__item {
	padding: 2rem 1rem;
}

.social__svg {
	width: 3.2rem;
	height: 3.2rem;
}

.social__svg--fb {
	fill: #1877F2;
}

.social__svg--ig {
	fill: #E4405F;
}

.copyright {
	font-size: 1.2rem;
	text-align: center;
	padding:0 0 2rem;
}