.info {
	background: $powderAsh;
	color: $parsley;
	padding: 2rem 2rem 8rem;
	position: relative;
	border-width: .2rem 0;
	border-style: dotted;
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 8rem;
		bottom: 0;
		left: 0;
		z-index: 10;
		background-color: $powderAsh;
		background-image: url('../img/fence.svg');
		background-position: 0 1.2rem;
		background-repeat: repeat-x;
		height: 8rem;
	}
	&__link {
		color: $parsley;
		text-decoration: none;
	}
	&__address {
		&-line {
			display: block;
		}
	}
	&__contain {
		display: grid;
		grid-row-gap: 1rem;
		text-align: center;
		max-width: 80rem;
		margin: 0 auto;
	}
	&__full {	
		display: grid;
		grid-row-gap: 1rem;
	}
	&__name {
		font-size: 2rem;
		font-weight: 700;
		padding: 0 0 1rem;
		span {
			margin: 0 .25rem;
		}
	}
	&__email {
		span {
			display: inline-block;
		}
	}
	&__name,
	&__email {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;		
	}
	&__hours {
		display: grid;
		grid-gap: .5rem 1.5rem;
		grid-template-columns: min-content 1fr;
		padding: 2rem 0 0;
		text-align: left;
		margin: auto;
		&-line {
			display: contents;
		}
		&-msg {
			grid-column: 1 / -1;
			font-size: 85%;
		}
	}
	@media all and (min-width: $mdBreak) {
		padding:3rem 3rem 8rem;
		&__contain {
			text-align: left;
			grid-template-columns: repeat(2, 1fr);
		}
		&__full {
			display: block;
			font-size: 1.8rem;
			> * {
				padding: 0 0 1rem;
			}
		}
		&__name {
			font-size: 2.4rem;
		}
		&__name,
		&__email {
			justify-content: flex-start;
		}
		&__hours {
			padding: 0;
			margin: 0 0 0 auto;
		}
	}
}


.social {
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		padding: 2rem 1rem 1.5rem;
	}
	&__svg {
		width: 3.2rem;
		height: 3.2rem;
		&--fb {
			fill: $brandFacebook;
		}
		&--ig {
			fill: $brandInstagram;
		}
	}
}

.payments {
	max-width: 15rem;
	margin: 0 auto;
	&__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		width: 33.333%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: .5rem;
	}
	&__svg {
		width: 3.2rem;
		&--sq {
			fill: $brandSquarePay;
		}
		&--gp {
			fill: $brandGooglePay;
		}
		&--vi {
			fill: $brandVisa;
		}
		&--mc {
			fill: $brandMastercard;
		}
		&--ae {
			fill: $brandAmex;
		}
		&--di {
			fill: $brandDiscover;
		}
	}
	@media all and (min-width: $mdBreak) {
		max-width: none;
		&__list {
			justify-content: center;
		}
		&__item {
			width: auto;
			padding: .5rem 1rem 1rem;
		}
	}
}

.copyright {
	font-size: 1.2rem;
	text-align: center;
	padding: 1.5rem 0 2rem;
}