.header {
	@media all and (min-width: $mdBreak) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
		padding: 2rem 0 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		&__action {
			padding: 0 2rem;
		}
	}
	@media all and (min-width: $lgBreak) {
		padding: 5rem 0 0;
		max-width: 160rem;
		left: 50%;
		transform: translateX(-50%);
	}
}

.touch {
	&__link {
		color: $parsley;
		text-decoration: none;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $powderAsh;
		padding: 1rem;
		border-width: .2rem 0;
		border-style: dotted;
		border-color: $parsley;
	}
	&__icon {
		text-align: center;
		max-height: 1.8rem;
	}
	&__svg {
		fill: $parsley;
	}
	&__text {
		line-height: 1.4;
		display: block;
		text-align: center;
	}
	@media all and (min-width: $mdBreak) {
		&__link {
			color: $white;
			background: 0;
			border: 0;
			font-size: 2rem;
			width: 20rem;
			padding: 0;
			text-shadow: .2rem .2rem 1rem $parsley;
		}
		&__text {
			text-align: center;
		}
	}
	@media all and (min-width: $lgBreak) {
		&__link {
			width: 35rem;
		}
		&__text {
			font-size: 3.2rem;
		}
	}
}

.nav {
	grid-column-end: span 3;
	&__list {
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		padding: 0 2.5vw;
	}
	&__link {
		color: $parsley;
		text-decoration: none;
		font-size: 1.8rem;
	}
}

.logo {
	padding: 2rem 0;
	&__img {
		display: block;
		width: 100%;
		max-width: 20rem;
		margin: 0 auto;
	}
	@media all and (min-width: $mdBreak) {
		padding: 0;
		background: $white;
		border-radius: 50%;
	}
	@media all and (min-width: $lgBreak) {
		&__img {
			max-width: 25rem;
		}
	}
}