.header {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	grid-gap: 2rem;
	padding: 2rem;
	align-items: center;
}

.touch {
	&__link {
		color: $parsley;
		text-decoration: none;
		font-weight: 700;
		display: grid;
		grid-gap: 1rem;
		background: $powderAsh;
		padding: .5rem 1rem;
		border-radius: 1rem;
		border:2px dotted $parsley;
	}
	&__icon {
		text-align: center;
		max-height: 2.4rem;
	}
	&__svg {
		fill: $parsley;
		width: 2.4rem;
		height: 2.4rem;
	}
	&__text {
		line-height: 1;
	}
}

.nav {
	grid-column-end: span 3;
	&__list {
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		padding: 0 2.5vw;
	}
	&__link {
		color: $parsley;
		text-decoration: none;
		font-size: 1.8rem;
	}
}

.logo {
	&__img {
		display: block;
		max-width: 100%;
	}
}