.section {
	padding: 2rem;
	&--about {
		background: $sweetCorn;
	}
	&--contact {
		background: $linkWater;
		color: $matisse;
		border-width: .1rem 0;
		border-style: solid;
	}
	&--services {
		background: $powderAsh;
		color: $parsley;
		border-width: .1rem 0;
		border-style: solid;
	}
	&__contain {
		max-width: 80rem;
		margin: 0 auto;
		&--contact {
			max-width: 70rem;
		}
	}
	&__heading {
		margin: 0;
		text-align: center;
		font-size: 3rem;
		padding: 0 0 1rem;
	}
	&__intro {
		padding: 0 0 2rem;
		text-align: center;
		font-size: 1.8rem;
		small {
			font-size: 1.2rem;
		}
	}
	@media all and (min-width: $mdBreak) {
		padding: 3rem 3rem 5rem;
		&__heading {
			font-size: 3.6rem;
		}
		&__intro {
			padding: 0 0 3rem;
			font-size:2rem;
		}
	}
	@media all and (min-width: $lgBreak) {
		padding: 4rem 4rem 6rem;
		&__heading {
			font-size: 4.4rem;
		}
		&__intro {
			padding: 0 0 4rem;
			font-size:2.4rem;
		}
	}
}

.about {
	&__head {
		padding: 0 0 2rem;
		&-img {
			border-radius: 50%;
			display: block;
			max-width: 100%;
			margin: 0 auto;			
		}
	}
	@media all and (min-width: $mdBreak) {
		display: flex;
		align-items: center;
		&__head {
			min-width: 25rem;
			padding:0 3rem 0 0;
		}
		&__text {
			font-size: 1.8rem;
		}
	}
}

.form {
	@include card($matisse);
	display: grid;
	grid-gap: 3rem;
	line-height: 1;
	grid-template-areas: "name"
						 "email"
						 "phone"
						 "comments"
						 "submit";
	&__field {
		position: relative;
		&--name {
			grid-area: name;
		}
		&--email {
			grid-area: email;
		}
		&--phone {
			grid-area: phone;
		}
		&--comments {
			grid-area: comments;
		}
	}
	&__label {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		transition: all .2s;
	}
	&__input {
		background: 0;
		border-width: 0 0 .2rem;
		border-color: $matisse;
		padding: 0 0 .5rem;
		width: 100%;
		display: block;
		outline: 0;
		font-size: 1.6rem;
		position: relative;
		z-index: 20;
		&:placeholder-shown {
			+ .form__label {
				transform: none;
			}
		}
		&::placeholder {
			color: rgba($black, 0);
		}
		&:not(:placeholder-shown) + .form__label,
		&:focus + .form__label {
			transform: translate(-.5rem, -2rem) scale(.75);
		}
		&--textarea {
			resize: none;
			height: 2.5rem;
			transition: height .2s;
			&:not(:placeholder-shown),
			&:focus {
				height: 10rem;
				+ .form__label {
					transform: translate(-2rem, -2rem) scale(.75);
				}
			}
		}
	}
	&__submit {
		text-align: center;
		grid-area: submit;
	}
	&__button {
		background: 0;
		border: .2rem solid $matisse;
		color: $matisse;
		font-size: 1.8rem;
		padding: 1rem 2rem;
		cursor: pointer;
		transition: all .2s;
		border-radius: .5rem;
		&:hover {
			background: $matisse;
			color: $linkWater;
		}
	}
	@media all and (min-width: $mdBreak) {
		grid-gap: 4rem 2rem;
		grid-template-areas: "name email phone"
							 "comments comments comments"
							 "submit submit submit";
		&__submit {
			margin-top: -1rem;
		}
	}
}

.service {
	&s {
		display: grid;
		grid-gap: 3rem;
		&__heading {
			text-align: center;
			font-weight: $bold;
			font-size: 2.4rem;
			padding: 0 0 2rem;
		}
	}
	@media all and (min-width: $lgBreak) {
		&s {
			grid-gap: 5rem;
			&__heading {
				font-size: 3.2rem;
				padding: 0 0 3rem;
			}
		}
	}
}

.package {
	@include card($parsley);
	display: grid;
	grid-gap: 3rem;
	&__list {
		display: grid;
		grid-gap: 2rem;
		max-width: 160rem;
		margin: 0 auto;
		padding: 0;
		list-style-type: none;
		@media all and (min-width: $mdBreak) {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 3rem;
		}
		@media all and (min-width: $lgBreak) {
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 5rem;
		}
	}
	&__img {
		margin: 0 auto;
		display: block;
		max-width: 100%;
		border-radius: 50%;
	}
	&__heading {
		margin: 0;
		text-align: center;
		font-size: 2.8rem;
	}
	&__includes {
		font-size: 2rem;
		text-align: center;
	}
	&__cost {
		&-list {
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: grid;
			grid-gap: 1.5rem;
			align-items: center;
		}
		&-item {
			display: flex;
			align-items: flex-end;
			line-height: .5;
			&:after {
				order: 2;
				flex-grow: 1;
				content: '';
				background-image: radial-gradient(circle, currentcolor 1px, transparent 1px);
				background-position-y: bottom;
				background-size: .4rem .4rem;
				background-repeat: repeat-x;
				height: 1em;
				margin: 0 .5rem;
			}
		}
		&-label {
			font-size: 2rem;
			font-weight: $bold;
			order: 1;
		}
		&-value {
			font-size: 1.4rem;
			order: 3;
		}
		&-dollar {
			display: inline-block;
			font-size: 2rem;
			font-weight: $bold;
			padding-left: .25rem;
		}
	}
}

.alacarte {
	&__list {
		padding: 0;
		margin: 0 auto;
		list-style-type: none;
		display: grid;
		grid-gap: 2rem;
		max-width: 160rem;
		grid-template-columns: repeat(2, 1fr);
	}
	&__item {
		@include card($parsley);
		padding: 2rem 1rem;
		text-align: center;
		font-weight: $bold;
		font-size: 1.8rem;
		display: grid;
		grid-gap: 1rem;
	}
	&__name {
		align-self: flex-end;
	}
	&__cost {
		line-height: 1;
		align-self: flex-start;
		&-extra {
			display: block;
			font-size: 1.6rem;
			padding: 1rem 0 0;
		}
	}
	@media all and (min-width: $mdBreak) {
		&__list {
			grid-gap: 3rem;
			grid-template-columns: repeat(3, 1fr);
		}
		&__item {
			min-height: 14rem;
			font-size: 2.4rem;
		}
		&__cost {
			&-extra {
				font-size: 1.8rem;
			}
		}
	}
	@media all and (min-width: $lgBreak) {
		&__list {
			grid-gap: 5rem;
			grid-template-columns: repeat(6, 1fr);
		}
	}
}