.main {
	position: relative;
	z-index: 10;
}

.section {
	padding: 2rem;
	&--hero {
		background-size: cover;
		background-image: url('../img/hero.jpg');
		background-repeat: no-repeat;
		background-position: center;
		min-height: 70vw;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border-width: 0 0 .2rem;
		border-style: dotted;
		border-color: $black;
		&:after {
			content: '';
			background: rgba($black, .5);
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
		}
	}
	&--intro {
		border-width: 0 0 .2rem;
		border-style: dotted;
	}
	&--about {
		background: $sweetCorn;
	}
	&--contact {
		background: $linkWater;
		color: $matisse;
		border-width: 0 0 .2rem;
		border-style: dotted;
	}
	&--services {
		background: $powderAsh;
		color: $parsley;
		border-width: 0 0 .2rem;
		border-style: dotted;
	}
	&__contain {
		max-width: 80rem;
		margin: 0 auto;
		&--contact {
			max-width: 70rem;
		}
		&--intro {
			max-width: 120rem;
		}
	}
	&__heading {
		margin: 0;
		text-align: center;
		font-size: 3rem;
		padding: 0 0 1rem;
		position: relative;
		z-index: 20;
		&--hero {
			color: $white;
			text-shadow: .2rem .2rem 1rem $parsley;
		}
		&--intro {
			padding: 0 0 3rem;
		}
	}
	&__intro {
		padding: 0 0 2rem;
		text-align: center;
		font-size: 1.8rem;
		small {
			font-size: 1.2rem;
		}
		&--intro {
			text-align: left;
		}
	}
	@media all and (min-width: $mdBreak) {
		padding: 3rem 3rem 5rem;
		&--hero {
			min-height: 60rem;
		}
		&__heading {
			font-size: 3.6rem;
			&--hero {
				padding: 5rem 0 0;
			}
		}
		&__intro {
			padding: 0 0 3rem;
			font-size:2rem;
		}
	}
	@media all and (min-width: $lgBreak) {
		padding: 4rem 4rem 6rem;
		&--hero {
			height: 100vh;
			min-height: 100rem;
		}
		&__heading {
			font-size: 4.4rem;
			&--hero {
				padding: 0;
				font-size: 6rem;
			}
		}
		&__intro {
			padding: 0 0 4rem;
			font-size:2.4rem;
		}
	}
}

.about {
	&__head {
		padding: 0 0 2rem;
		&-img {
			border-radius: 50%;
			display: block;
			max-width: 100%;
			margin: 0 auto;			
		}
	}
	@media all and (min-width: $mdBreak) {
		display: flex;
		align-items: center;
		&__head {
			min-width: 25rem;
			padding:0 3rem 0 0;
		}
		&__text {
			font-size: 1.8rem;
		}
	}
}

.form {
	@include card($matisse);
	display: grid;
	grid-gap: 3rem;
	line-height: 1;
	grid-template-areas: "name"
						 "email"
						 "phone"
						 "comments"
						 "submit";
	&__field {
		position: relative;
		&--name {
			grid-area: name;
		}
		&--email {
			grid-area: email;
		}
		&--phone {
			grid-area: phone;
		}
		&--comments {
			grid-area: comments;
		}
	}
	&__label {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		transition: all .2s;
	}
	&__input {
		background: 0;
		border-width: 0 0 .2rem;
		border-color: $matisse;
		padding: 0 0 .5rem;
		width: 100%;
		display: block;
		outline: 0;
		font-size: 1.6rem;
		position: relative;
		z-index: 20;
		&:placeholder-shown {
			+ .form__label {
				transform: none;
			}
		}
		&::placeholder {
			color: rgba($black, 0);
		}
		&:not(:placeholder-shown) + .form__label,
		&:focus + .form__label {
			transform: translate(-.5rem, -2rem) scale(.75);
		}
		&--textarea {
			resize: none;
			height: 2.5rem;
			transition: height .2s;
			&:not(:placeholder-shown),
			&:focus {
				height: 10rem;
				+ .form__label {
					transform: translate(-2rem, -2rem) scale(.75);
				}
			}
		}
	}
	&__submit {
		text-align: center;
		grid-area: submit;
	}
	&__button {
		background: 0;
		border: .2rem dotted $matisse;
		color: $matisse;
		font-size: 1.8rem;
		padding: 1rem 2rem;
		cursor: pointer;
		transition: all .2s;
		border-radius: .5rem;
		&:hover {
			background: $matisse;
			color: $linkWater;
		}
	}
	@media all and (min-width: $mdBreak) {
		grid-gap: 4rem 2rem;
		padding: 4rem 4rem 3rem;
		&__submit {
			margin-top: -1rem;
		}
	}
}

.service {
	@include card($parsley);
	display: grid;
	grid-gap: 3rem;
	&__extra {
		display: grid;
		grid-gap: 3rem;
	}
	&__list {
		display: grid;
		grid-gap: 2rem;
		max-width: 160rem;
		margin: 0 auto;
		padding: 0;
		list-style-type: none;
	}
	&__img {
		margin: 0 auto;
		display: block;
		width: 100%;
		max-width: 20rem;
		border-radius: 50%;
		height: auto;
	}
	&__heading {
		margin: 0;
		text-align: center;
		font-size: 2.8rem;
	}
	&__includes {
		font-size: 2rem;
		text-align: center;
	}
	&__cost {
		&-list {
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: grid;
			grid-gap: 1.5rem;
			align-items: center;
		}
		&-item {
			display: flex;
			align-items: flex-end;
			line-height: .5;
			&:after {
				order: 2;
				flex-grow: 1;
				content: '';
				background-image: radial-gradient(circle, currentcolor 1px, transparent 1px);
				background-position-y: bottom;
				background-size: .4rem .4rem;
				background-repeat: repeat-x;
				height: 1em;
				margin: 0 .5rem;
				min-width: 1rem;
			}
		}
		&-label {
			font-size: 2rem;
			font-weight: $bold;
			order: 1;
			line-height: 1;
		}
		&-value {
			font-size: 1.4rem;
			order: 3;
			white-space: nowrap;
		}
		&-dollar {
			display: inline-block;
			font-size: 2rem;
			font-weight: $bold;
			padding-left: .25rem;
		}
	}
	@media all and (min-width: $mdBreak) {
		&__list {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 3rem;
		}
		&--extra {
			grid-column-end: span 2;

		}
	}
	@media all and (min-width: $lgBreak) {
		&__list {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 2vw;
		}
		&--extra {
			grid-column-start: 1;
		}
	}
}
