$mdBreak: 600px;
$lgBreak: 1000px;

$white: #fff;
$black: #000;
$mineShaft: #222;
$powderAsh: #a9bdb2;
$parsley: #154c2f;
$sweetCorn: #fcf88c;
$linkWater: #cbe5f2;
$matisse: #1d6a91;
$brandFacebook: #1877f2;
$brandInstagram: #e4405f;
$brandSquarePay: #3e4348;
$brandGooglePay: #4285f4;
$brandVisa: #142787;
$brandMastercard: #eb001b;
$brandAmex: #2e77bc;
$brandDiscover: #ff6000;
